.phone {
    height: 150px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-smart-light-tech-background-backgroundlight-effect-backgroundelectronic-image_81225.jpg');

}

.avatar img {
    width: 100px;
    margin: 10px 20px 10px 0;
    float: left;
}

h1 {
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
}

.name {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 0;
}
.status {
    margin-bottom: 20px;
    color: #666666;
}

.profile {
    /*margin-left: 300px;*/
}

p {
    font-size: 14px;
    line-height: 5px;
}
