.header {
    grid-area: h;
    background-color: #525151;
}

.header img {
    height: 32px;
    width: 40px;
    /*margin: 14px auto 14px 14px;*/
}

.login {
    cursor: default;
    color: #ffffff;
    float: right;
    margin: 10px;
}

.login a {
    color: #ffffff;
    text-decoration: none;
}

.login img {
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}